$background: #090909;
$dark: #2d2d2d;
$grayDark: #555;
$grayLight: #999;
$light: #bcbcbc;
$white: #eee;

$primary: #bf361b;
$primaryDark: #8c2915;
$primaryLight: #bf5e4b;
$primaryLighter: #bf513b;

$success: #29bf1b;
$focus: #1b54bf;
$warning: #bfb41b;
$error: #e4401f;